# 启用大部分检查并禁用部分检查

Checks: >-
  cert-*,
  bugprone-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-explicit-constructor,
  llvm-namespace-comment,
  llvm-header-guard,
  -modernize-use-auto,
  -cppcoreguidelines-pro-type-reinterpret-cast

WarningsAsErrors: '*'
HeaderFilterRegex: '^(<)|(")|()utopia/'
AnalyzeTemporaryDtors: false
FormatStyle:     file
User:            mingmoe
CheckOptions:
