# 启用大部分检查并禁用部分检查

Checks: >-
  cert-*,
  bugprone-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-explicit-constructor,
  llvm-namespace-comment,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -readability-avoid-const-params-in-decls

WarningsAsErrors: ''
HeaderFilterRegex: '^(<)|(")|()utopia/'
AnalyzeTemporaryDtors: false
FormatStyle:     file
User:            mingmoe
CheckOptions:
