[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://github.com/freetype/freetype
[submodule "deps/harfbuzz"]
	path = deps/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "deps/icu"]
	path = deps/icu
	url = https://github.com/unicode-org/icu
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
[submodule "deps/boost"]
	path = deps/boost
	url = https://github.com/boostorg/boost.git
